* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #ffffff;
    padding: 10px 5px;
    margin: 0;
    color: #0f172a;
}

.container {
    max-width: 700px;
    margin: auto;
    background: #ffffff;
    border-radius: 12px;
    padding: 5px;
}

h2 {
    margin: 0 0 16px 0;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.chat-box {
    height: 510px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 12px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #979797;
    
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #111827;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #0f172a;
    transform: translateY(-1px);
}

.send-btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

.send-btn:hover {
    background-color: #f5994f;
    transform: translateY(-1px);
}

.send-btn svg {
    pointer-events: none;
}

.chat-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat-bubble {
    background-color: #f1f5f9;
    border-radius: 12px;
    padding: 10px 14px;
    margin: 3px 0;
    display: inline-block;
    max-width: 75%;
    word-wrap: break-word;
}

.chat-bubble.user {
    background-color: #eeeeee;
    align-self: flex-end;
    float: right;
    text-align: right;
    clear: both;
}

.chat-bubble.bot {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    max-width: 100%;
}

.loading-icon {
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 14px;
    margin-top: 12px;
}

.gallery .item {
    border: 1px solid #ffffff;
    border-radius: 0px;
    padding: 5px;
    background: #ffffff;
}

.gallery .item h4 {
    margin: 0 0 8px 0;
    font-size: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

img.fade-in {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

img.fade-in.show {
    opacity: 1;
}
