<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Chatbot AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/event-source-polyfill@1.0.31/dist/eventsource.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="chat-box" class="chat-box"></div>
        <div class="input-area">
            <input type="text" id="user-input" placeholder="Bạn muốn mua tranh gì..." />
            <button onclick="sendMessage()" class="send-btn" aria-label="Gửi">
                <img src="/static/arrow.png" alt="send" width="35" height="35">
            </button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
